.content{
  display: flex;
  flex-direction: column;
  position: relative;
  height:inherit;
  z-index: 1
}
.context{
  display: flex;
  height:inherit;
  position: relative;
  flex-direction: row;
  z-index: 1;
}
.header{
  position: relative;
  background-color: grey;
  background-image:url('../image/nikki.jpg');
  height: 800px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: contain;
}
.header::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.navigation>h1{
  border-right: 0.5px solid #ccd6df;
}
.navigation>a{
  text-decoration: none;
  margin: 0.8em;
}
.navigation>a>div{
  transition: background-color 0.2s, border-radius 0.2s;
}
.navigation>a>div:hover{
  background-color: #ccd6df;
  border-radius:5px;
}
.desc{
  display: flex;
  flex-direction: column;
}
.contact_container{
  width: 50%;
  margin: 0px auto;
}
.item>.c_link{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.item>.c_link>img{
  width:2rem;
  height:2rem;
  border-radius: 5px 0px 0px 5px;
}
.item>.c_link>p{
  margin: 0px 5px;
  color: black;
}
