.title{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  width:50%;
  height:100%;
}
.text_title{
  margin:2rem;
  font-size: 5rem;
  color: white;
}
.desc{
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  width:50%;
  height:100%;
}
.para{
  font-family: "Courier New", monospace;
  color: white;
  text-align: center;
}
.text_desc{
  font-family: "Courier New", monospace;
  color: white;
}
